body {margin:0;}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #555;
  position: fixed;
  top: 0;
  width: 100%;
  border-radius: 10px;
}
.hleft {
  float: left;
}
.hmain {
  float: right;
}
li a, li h4 {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}
.hright a:hover:not(.active) {
  background-color: #111;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}
.hright a:hover {
  background-color: #3B9E40;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}
.active {
  background-color: #4CAF50;
}
button {

}
